
body{
	/* background-image:url(./image/4.jpg) ; */
	background-color: #b4b4b7 ;
	font-size: 18px;
	color:#e61717;
}

.jumbotron{
 	height: 100px;
 	width: 100%;
 
 	z-index: 999;
 	top: 0px;
 	background-color: #8abaea ;
	/* background-image: url(./image/2.jpg); */
 	background-size: cover;
 	background-repeat: no-repeat;
 	background-position: center center;
 	border-bottom: 1px solid #ed043b;
 	text-align: center;
 	padding-top: px;
 	font-style: oblique;
 	box-shadow: 5px 5px 10px red;

 }
 .container{
	text-align: center;
	/* background-image:url(./image/3.jpg) ; */
	background-color: #8b8cf4 ; 
  padding: 15px;
  box-shadow: 5px 8px 10px black;
  border-radius: 10px;
  width: 90%;
  position: relative;
}



  

h1{
	color: rgb(219, 47, 47)!important;
}
.form-control{
	box-shadow: 3px 3px 5px rgb(215, 178, 178);
}
.form-select{
	box-shadow: 3px 3px 5px rgb(189, 147, 147);
}
.row{
	background-color: #ab97f3 !important;
	
}
.col-sm-4{
	text-align: left !important;
}
 .col-sm-6 {
	text-align: left;
}
.col-sm-7 {
	text-align: left;
} 
 
 label{
 	font-style: oblique;
 }
 .form-check-label {
  color: #34495e!important;
}
.form-check-input[type="radio"]{
	background-color: #34495e;
}

.valid-feedback{
	color: #860b0b!important;
}
.invalid-feedback{
	color: #8d0c0c !important;
}
input:valid:checked {
  background-color: #860b0b !important;
  border-color: #f2f1eb !important;
}
.was-validated .form-check-input:valid{
	border-color: #f2f1eb;
}
.btn.btn-primary1{
	background-color: #8d969c !important;
	box-shadow: 5px 8px 10px black;
	width: 50% !important;
	height: 50% !important;
	color: #d50707;
	font-size:larger;
	margin-top: -65px !important;
}
.btn.btn-primary1:hover{
	background-color:#3b424a !important;
	
	height: 52% !important;
}
.btn.btn-primary{
	background-color: #525f68 !important;
	box-shadow: 5px 8px 10px black;
	width: 15% !important;
	height: 15% !important;
	font-size:large;
	margin-top: -65px !important;
}
.btn.btn-primary:hover{
	background-color:#3b424a !important;
	
	height: 16% !important;
}
.form-range::-moz-range-thumb{
	background-color: #34495e !important;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
}


@media screen and (max-width: 400px){
	.jumbotron{
		width: 100%;
		height: 70px;
	}
	h1{
		font-size: 100%;
	}
}
.logo{
	float: left;
	width: auto;
	height: auto;
	
}
.logo:hover{
	filter: brightness(2.5);
}
.logo2{
	float: right;
	width: auto;
	height: auto;
	
}
.logo2:hover{
	filter: brightness(2.5);
}
.imagen1{
	height: 100px;
	width: 100px;
	background-image: url(image/1.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	
}
.imagen2{
	height: 100px;
	width: 100px;
	background-image: url(image/2.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.form-control {
	display: block;
	width: 100%;
	padding: .375rem .75rem;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  /* .form-label {
	margin-bottom: -0.5rem;
  } */
  .btn {
	display: inline-block;
	font-weight: 400;
	line-height: 1.5;
	color: #f2f4f6;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	  border-top-color: transparent;
	  border-right-color: transparent;
	  border-bottom-color: transparent;
	  border-left-color: transparent;
	padding: .375rem .75rem;
	font-size: 12px;
	border-radius: .25rem;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  .display-2{
	font-family: 'Montserrat';
	font-size: 50px;
	color: white;
	margin-top: 0px;
	
}